body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to bottom, #87CEEB, #ffffff);
}

#bean {
  font-size: 80px;
  padding: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

#shop button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
